@charset "utf-8";
/* CSS Document */
#jiluCon li{
width:100%;
height:215px;
border-bottom:0.5px solid #e5e5e5;
padding:25px;
font-size:24px;
}
#jiluCon li p:nth-child(1){
color:#999;

}
#jiluCon li p:nth-child(2),#jiluCon li p:nth-child(3){
font-size:26px;
color:#000;
margin-top:10px;
}
#jiluCon li p:nth-child(4){
color:#999;
margin-top:10px;
}
#jiluCon li .price{
color:#F09;

}
#jiluCon li .phoneNumber{
color:#b9a05d;
}