@charset "utf-8";
/* CSS Document */
.txtInfo{
font-size:28px;
text-align:center;
}
.txtInfo:nth-child(1){
margin-top:60px;
}
.txtInfo:nth-child(2){
margin-top:27px;
}
.tsInfo{
font-size:30px;
color:#999999;
text-align:center;
margin-top:30px;
}
.tsInfo:nth-child(1){
color:red;
}
#erweima{
width:194px;
height:195px;
margin-left:223px;
margin-top:25px;
}
.resigerBtn{
width:460px;
height:83px;
line-height:83px;
background:#b9a05d;
text-align:center;
color:#fff;
font-size:28px;
margin-left:90px;
margin-top:48px;
}
#topCon{
position:absolute;
top:0;
left:0;
width:100%;
bottom:90px;
overflow-y:auto;
}