@charset='utf-8';
body{
	background-color: #f2f2f2;
}
ul{
	border-top:1px solid #e5e5e5;
	background-color: #fff;
}
ul li{
	height: 87px;
	line-height: 87px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 30px;
	color: #999;
}
ul li input{
	margin:0 30px 0 30px;
	height: 100%;
	border:none;
}
.confirmBtn{
	position: fixed;
    left: 24px;
    bottom: 30px;
    width: 592px;
    height: 80px;
    font-size: 30px;
    left: 24px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    background-color: #000;
}